# SPDX-FileCopyrightText: 2015 CERN.
# SPDX-License-Identifier: BSD-3-Clause

graft examples
graft jsonresolver
graft tests
include docs/requirements.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
include .editorconfig
include *.ini
include *.rst
include *.sh
include *.txt
include .lgtm
include LICENSE
include MAINTAINERS
global-exclude *.py[cod] __pycache__ *.so
recursive-include .github/workflows *.yml
include .git-blame-ignore-revs
